<ion-view title="Cities">
  <ion-content class="has-header">
  	<h1>Select city</h1>
    <ion-list>
      <ion-item ng-repeat="city in cities">
		<span href="#" ng-click="changeCity('{{$index}}')">
			{{city.name}}
		</span>      	
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
