<ion-view title="Home">
  <ion-content class="has-header">
    <h3>{{city}}</h3>
    <h5><weather-icon icon="current.icon" id="current-icon">{{current.currently.summary}}</weather-icon> </h5>
    <p>The temprature now is</p>
  <span class="large">{{current.currently.temperature}} degree </span>
  </ion-content>
</ion-view>
